.nav-path{
    font-size: 16px;
    padding: 18px 16px 14px 16px;
    border-bottom: 1px solid #DCDDDE;
}
.path-ul{
    display: inline-block;
    vertical-align: middle;
}
.path-title:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 18px;
    margin-right: 10px;
    background-color: #222222;
}
*:before{
    box-sizing: border-box;
}
.main-body-content{
    padding: 16px 12px;
}
.search-left{
    width: 930px;
    float: left;
}
.search-left .dropdown{
    float:left;
}
.select-date{
    height: 34px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.search-right{
    float: right;
}
.table-body{
    margin-top: 20px;
}
.table-body table th{
    text-align: center;
    color: #666;
}
.table-body table tr{
    text-align: center;
}
.numbersOfWork{
    float: left;
    text-align: center;
    line-height: 28px;
    color: #666;
    border-right: 1px solid #e8e9ea;
    overflow: hidden;
}
.numbersOfWork:hover{
    cursor: pointer;
    color: #38ADFF;
}
.numbersOfWork.active{
    color: #38ADFF;
    border: 1px solid #38ADFF;
    border-radius: 4px;
}
#myModal-addClass input,#myModal-addClass button{
    height:28px;
    font-size: 12px;
}
.checkbox-div{
    height: 28px;
    float:left;
    padding-left: 48px;
    padding-top: 8px;
    color: #666;
    position: relative;
}
.checkbox{
    position: absolute;
    top:5px;
    height: 20px;
}
.checkbox-div label{
    height: 17px;
    overflow: hidden;
    position: absolute;
    top:8px;
    left:74px;
}
.edit-a:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 13px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #DDDDDD;
}
.staff-operating a{
    text-decoration: none;
}
.table-body table thead tr th{
    text-align: center;
    color: #666;
    position: relative;
}